/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);

p, tr, td, th, li, ol, label, .dash-title, .stats ul li {font-family: 'Open Sans', sans-serif; }
p {margin: 10px 0;}

.navbar-default {
	background-color: #e6e6e6;
	border-color: #e7e7e7;
}
.blue-txt {color: #0c4c94;}
a {color:#565b61; }
a:hover {color:#11498a; }

a.logo {
	margin:0 10px;
}
.no-lh {
	line-height: 0 !important;
}
.no-lh input {
	position: relative;
	bottom: 14px;
}
.center {
	display: block;
	text-align:center; 
	margin:0 auto;
}
select.form-control.dash-select {
	display: inline-block;
	position: relative;
	top:3px;
	width: 110px;
}

/* Header & Nav */
.header.navbar {
	border-top: solid 5px #1e64b4;
	box-shadow: 0 0 5px 2px #9c9c9c;
	padding: 15px 0;
}

/* Styled Boxes */
.border-box {
	margin-bottom:15px;
	padding-top: 15px;
	padding-bottom: 15px;
	-webkit-box-shadow: 0 0 6px rgba(0,0,0,.47);
	-moz-box-shadow: 0 0 6px rgba(0,0,0,.47);
	box-shadow: 0 0 6px rgba(0,0,0,.47);
	border: solid 1px #fff;
	height: auto;
}

.gray-box {
	background: #e6e6e6;
}
.blue-box {
	background: #1472c4;
}
body, #page-wrapper {
	background: url(../../assets/images/body_pattern.png) repeat #bed4ef;
	border: none !important;
}

/* Gradients */
.gradient-yellow {
	background: #fcf8ea; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZjhlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZWY0Y2YiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #fcf8ea 0%, #fef4cf 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcf8ea), color-stop(100%,#fef4cf)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fcf8ea 0%,#fef4cf 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fcf8ea 0%,#fef4cf 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fcf8ea 0%,#fef4cf 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fcf8ea 0%,#fef4cf 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcf8ea', endColorstr='#fef4cf',GradientType=0 ); /* IE6-8 */
}
.gradient-blue {
	background: #e9f3fd;
}

/* Sidebars */
#side-menu li .fa {
	color: #11498a;
	font-size: 32px;
}
.nav-second-level i.fa {
	font-size: 20px !important;
}
#side-menu .sbtxt {
	position: relative;
	bottom: 5px;
}
.sidebar-search i.fa.fa-search {
	font-size: 15px !important;
}

.sidebar .nav-second-level li a {
	padding-left: 34px;
}

.right-sidebar {
	padding: 10px;
	border-radius: 3px;
}
.right-sidebar p {
	color: #797979;
	font-size: 12px;
}

.title_lifesaver {
	color: #0c4c94;
	display: block;
	font-size: 20px !important;
	margin: 0px;
	padding-bottom: 10px;
	border-bottom: solid 1px #c2c2c2;
	background-position: 240px 8px;
	width: 100%;
	text-align: right;
}

.help_info h3 {
	font-size: 16px !important;
	font-weight: normal;
	color: #0c4c94;
	border-bottom: solid 1px #c2c2c2;
	text-align: left;
}

.col-lg-8.col-md-8.gray-box.border-box.panel.panel-default {
	padding: 0;
}
.panel-body label {
	color: #626262;
	font-size: 12px;
	line-height: 34px;
}
.panel-body {
	background: #ffffff;
}
.panel-body > div {
	padding: 0;
	margin: 0;
}


 @media (min-width: 768px) {
	.col-lg-4.col-md-4.gray-box.border-box.right-sidebar {
		width: 31.3%;
		margin-left: 2%;
	}
}

/* Buttons, Forms & Elements */
.alert.alert-info,
.alert-success {
	text-align:center;
}
.input-inline {
	display:inline-block;
	width:55%;
}
#bar-details {
	padding: 0;
}
#bar-details > * {
	margin: 10px 0;
}
#bar-details .btn, #bar-details input, #bar-details select {
	font-size: 11px;
}
#bar-details button.btn.btn-default,
#bar-details button.btn.btn-primary {
	height: 34px;
	width: 100%;
}
#bar-details .date-picker {
	display: inline-block;
	width: 80%; 
}
#bar-details .form-group {
	margin-bottom: 0px;
}
#bar-details p {margin:0;}
i.date-refresh {
	color: #26aefb;
	font-size: 20px;
	top: 5px;
	position: relative;
}

/* Nav Tabs */
.tab-content {
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;
	padding: 10px !important;
}
.nav-tabs li a {
	background: #e6e6e6;
}
.nav-tabs > li > a:hover {
	background: #ffffff;
}

/* Dashboard Stats */
.dash-title {
	font-size: 24px;
	color: #ffffff;
	text-shadow: 0 1px #0e325a;
	float: left;
	margin: 0px;
	padding: 18px 0;
}
.stats {
	float: right;
	margin: 0px;
	padding: 0px;
}
.stats ul {
	margin: 0;
}
.stats ul li {
	list-style: none;
	display: inline-block;
	font-size: 24px;
	color: #fff;
	text-align: center;
	margin: 0px 10px;
}
.stats ul li p {
	font-size: 13px;
	display: block;
	clear: both;
	margin: 5px 0 0 0;
}

/* Footer */
#footer {
	width: 100%;
	background: #565b61;
	margin: 18px 0px;
	padding: 15px 0px;
	height: auto;
}
.foot_link {
	width: 100%;
	text-align: center;
	margin: 0px;
	padding: 0px;
	float: left;
}
.foot_link ul {
	margin: 0px;
	padding: 0px;
	text-align: center;
}
.foot_link ul li {
	list-style: none;
	display: inline-block;
	font-size: 15px;
	margin: 0 6px;
}
.foot_link ul li a {
	text-decoration: none;
	color: #fbfeff;
}
.foot_link ul li a:hover {
	text-decoration: none;
	color: #00a2ff;
}

